@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.4375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.4375rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.875rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.75rem;
    font-size: calc( 1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #4f87fb !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #6d7a8c !important;
}
.bg-warning {
  background-color: #e6ecf2 !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #130947 !important;
  border-color: #130947 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
  color: #4a6d8f !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #054cdf;
  color: #054cdf;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #4f87fb;
  border-color: #4f87fb;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #130947;
  border-color: #130947;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #130947 !important;
  border-color: #130947 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #404853;
  color: #404853;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #6d7a8c;
  border-color: #6d7a8c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #a3b9cf;
  color: #a3b9cf;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #4a6d8f;
  background-color: #e6ecf2;
  border-color: #e6ecf2;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4a6d8f !important;
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #4f87fb !important;
}
.text-secondary {
  color: #130947 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #6d7a8c !important;
}
.text-warning {
  color: #e6ecf2 !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #054cdf !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #404853 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a3b9cf !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6d7a8c;
}
.alert-warning {
  background-color: #e6ecf2;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4f87fb;
  border-color: #4f87fb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4f87fb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4bbc5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #4f87fb;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #4f87fb !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4f87fb;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4f87fb;
  border-bottom-color: #4f87fb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #130947 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234f87fb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rUW2vjAmOd {
  padding-top: 105px;
  padding-bottom: 90px;
  background-color: #e9e9e9;
}
.cid-rUW2vjAmOd .head_info {
  text-align: center;
  margin-bottom: 70px;
}
.cid-rUW2vjAmOd .head_info .mbr-subtitle {
  color: #4f87fb;
  margin-bottom: 10px;
}
.cid-rUW2vjAmOd .head_info .mbr-subtitle.display-4 {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 2px;
}
.cid-rUW2vjAmOd .head_info .mbr-section-title {
  margin-bottom: 20px;
  color: #130947;
  font-weight: 700;
}
.cid-rUW2vjAmOd .head_info .mbr-section-title.display-2 {
  line-height: 48px;
  letter-spacing: -0.5px;
}
.cid-rUW2vjAmOd .head_info .mbr-section-text {
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 0;
  color: #6d7a8c;
}
.cid-rUW2vjAmOd .head_info .mbr-section-text.display-7 {
  line-height: 28px;
  letter-spacing: 0;
}
.cid-rUW2vjAmOd .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
  background-color: #ffffff;
  border-bottom: solid 2px rgba(0, 0, 0, 0.07);
  text-align: center;
  border-radius: 8px;
}
.cid-rUW2vjAmOd .plan .plan-title {
  background-color: #780000;
  padding-bottom: 60px;
  padding-top: 30px;
  margin-bottom: 0;
  font-weight: 700;
  border-radius: 8px 8px 0 0;
}
.cid-rUW2vjAmOd .plan .plan-title.display-7 {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.5px;
}
.cid-rUW2vjAmOd .plan .icon_box {
  display: block;
  text-align: center;
}
.cid-rUW2vjAmOd .plan .icon_box .ico1 {
  width: 96px;
  height: 96px;
  line-height: 96px;
  font-size: 40px;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  top: -40px;
  background: #fff;
  color: #130947;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.05);
}
.cid-rUW2vjAmOd .plan .plan-price {
  color: #28303f;
}
.cid-rUW2vjAmOd .plan .plan-price .price-figure {
  font-weight: 700;
  display: inline-block;
}
.cid-rUW2vjAmOd .plan .plan-price .price-figure.display-1 {
  font-size: 50px;
  line-height: 50px;
}
.cid-rUW2vjAmOd .plan .plan-price .price-value {
  font-weight: 600;
  line-height: 1.5;
}
.cid-rUW2vjAmOd .plan .plan-price .price-term {
  line-height: 1;
  margin-top: 0.45rem;
}
.cid-rUW2vjAmOd .plan .plan-list {
  padding: 30px 40px;
}
.cid-rUW2vjAmOd .plan .plan-list .list-group {
  color: #6d7a8c;
}
.cid-rUW2vjAmOd .plan .plan-list .list-group-item {
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 7.5px 0;
}
.cid-rUW2vjAmOd .plan .plan-list .list-group-item:last-child {
  border-radius: 8px;
}
.cid-rUW2vjAmOd .plan .plan-list .list-group.display-7 {
  font-size: 16px;
  line-height: 1.5;
}
.cid-rUW2vjAmOd .plan .mbr-section-btn {
  padding: 0 2.45rem;
}
.cid-rUW2vjAmOd .plan .mbr-section-btn .btn {
  font-weight: 700;
  padding: 12px 40px;
  border-radius: 2em;
}
.cid-rUW2vjAmOd .plan .mbr-section-btn .btn.display-4 {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1px;
}
.cid-rUW2vjAmOd .plan .mbr-section-btn .btn-primary:hover {
  background-color: #28303f !important;
  color: #ffffff !important;
}
.cid-rUW2vjAmOd .plan:nth-child(2) .plan-title {
  background-color: #344cf1;
}
@media (max-width: 550px) {
  .cid-rUW2vjAmOd .price-figure {
    font-size: 4.25rem;
  }
}
